body{
    /* Google Font*/
    font-family: 'Montserrat', sans-serif;
}

.jumbotron1 {
    /* Hauteur BG */
    height: 50vh;

    /* Image BG */
    background-image: url("https://images.pexels.com/photos/416676/pexels-photo-416676.jpeg");

    /* Fitting du BG */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    
    /* Couleur texte blanc */

    color: white;
}

